:root {
    --text-sidebar: #262626;
}

*{
    padding: 0;
    margin: 0;
}

.dashboard-wrap {
    display: flex;
}

/* sidebar */
.sidebar {
    padding: 20px 10px;
    border-right: 1px solid #cacaca;
    width: 250px;
    height: 100vh;
}
.sidebar .logo {
    width: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.sidebar img {
    width: 100px;
}

.sidebar ul {
    list-style-type: none;
    padding: 10px;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 8px;
}

.sidebar ul li:hover {
    background-color: #e1e1e1;
    border-radius: 8px;
}

ul li h2 {
    margin-left: 10px;
    font-weight: 200;
    color: var(--text-sidebar);
}


.header-list {
    color: var(--text-sidebar);
    margin-left: 10px;
}
/* sidebar end */

/* content */
/* content end */
.main {
    width: 100%;
}

.header-main {
    width: auto;
    border-bottom: 1px solid #cacaca;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left form {
    display: flex;
    border: 1px solid #747474;
    width: 400px;
    border-radius: 10px;
}

.left form input {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}

.left form input:focus{
    outline: none;
}

.left button {
    height: 40px;
    width: 60px;
    border: none;
    background-color: #747474;
    border-radius: 0 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .icon-right {
    background-color: #ebebeb;
    padding: 5px;
    display: flex;
    text-align: center;
    border-radius: 10px;
    border: none;
}

.right .icon-right:hover {
    background-color: #cfcfcf;
}

.notification{
    position: relative;
}

.notification-content {
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    top: 50px;
    right: 5px;
    box-shadow:  0px 3px 8px #a1a1a1;
    padding: 20px;
}

.notification-content-hide {
    display: none;
}

/* handphone */
@media (max-width: 600px) {
    .sidebar {
        display: none;
    }
}
  
  /* tab */
@media (min-width: 601px) and (max-width: 1024px) {
    
}